<div>
  <h1>
    Your feedback for Order <%= @order&.id %>
  </h1>
  <div>
    <% @meals.each do |meal| -%>
      <div>
        <%= meal.meal_name %>
        <div>
          <input
            id="input-1" name="input-1" class="rating rating-loading"
            data-min="0" data-max="5" data-step="1" value=2
            data-show-caption=false data-show-clear=false
            data-ratable_id=1 data-ratable_type="meal"
          >
        </div>
      </div>
    <% end -%>

    <input type="submit" value="Submit" />

  </div>

</div>

<a href="#" id="logout">Logout</a>
