<!DOCTYPE html>
<html>
<head>
  <title>FeedbackApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>

  <!-- Include CDN bootstrap -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
